#label_nova_tarefa  {
  width: 100%;
  margin-left: 5px;
  font-weight: bold;
  font-size: 25px !important; 
}

input[type=text], select {
  width: 490px;
  padding: 12px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 22px;
}

.btn_generic {
  width: 10%;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  width: 55px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_novo {
  background-color: #4CAF50;
  border-radius: 12px;
  height: 42px;
}

.btn_novo:hover {
  background-color: #73df77;
}

.btn_editar {
  background-color: #1404f8;
}

.btn_editar:hover {
  background-color: #6b62f3;
}


.btn_deletar {
  background-color: #fd0505;
}

.btn_deletar:hover {
  background-color: #f06565;
}

.styleOne {
  background-color: #A9A9A9;
}

.styleOne:hover {
  background-color: rgb(181, 198, 216);
}

.styleTwo {
  background-color: lightgrey;
}

.styleTwo:hover {
  background-color: rgb(181, 198, 216);
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid transparent;
  text-align: left;
  padding: 8px;
}

