.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.childBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#label_nova_tarefa  {
  width:auto;
  margin-left: 5px;
  font-weight: bold;
  font-size: 25px !important; 
}

.inputText {
  width: 490px;
  padding: 12px 5px;
  box-sizing: border-box;
  margin-left: 22px;
  background: #fff;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;

}

.btn_generic {
  width: 10%;
  color: white;
  padding: 5px 5px;
  margin: 2px 2px;
  width: 55px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_novo {
  background-color: #4CAF50;
  position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;  
}

.btn_novo:hover {
  background: #f76e45;
}

.btn_editar {
  background-color: #1404f8;
}

.btn_editar:hover {
  background-color: #6b62f3;
}

.btn_deletar {
  background-color: #fd0505;
}

.btn_deletar:hover {
  background-color: #f06565;
}

.styleCab {
  background-color: cadetblue;
}

.styleOne {
  background-color: #c1c1c1;
}

.styleOne:hover {
  background-color: rgb(181, 198, 216);
}

.styleTwo {
  background-color: lightgrey;
}

.styleTwo:hover {
  background-color: rgb(181, 198, 216);
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid transparent;
  text-align: left;
  padding: 8px;
}

.sa-button-container {
    height: 60px !important;
}

.sweet-alert button {
    margin: 2px 2px 0 5px !important;
    padding: 5px 16px !important;
}

.sweet-alert button {
    background-color: #8cd4f5;
    color: black !important;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}


