*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

.inicio{
    margin: 10% 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.titulo_lista{
    
    font-family: 'Lato';
    color: #E1BF4B;
    display: flex;
    justify-content: center;

}

:root{
    --color-dark: #E1BF4B;
    --color-blue: #124e78;
    --color-darkblue: #1d3557;
    --color-beige: #f0f0c9;
    --color-orange: #d74e09;
    --color-dark_red: #6e0e0a;
    /*background-color: var(tititi) */
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content--add--item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}

#input_nova_tarefa{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input_nova_tarefa{
    width: 20rem;
    border-radius: 1rem;
}

.btn_nova_tarefa{
    background-color: var(--color-blue);
    color: var(--color-beige);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

.btn_nova_tarefa:hover{
    background-color: #1d3557;

}

#adiv_lista_de_tarefs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#adiv_lista_de_tarefs ul{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    background-color:#124e78;

}